{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ all_data[1][teacher_id]['picture'] }}" class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ all_data[1][teacher_id]['name'] }}</h1>
                <p>
                {% for key in all_data[1][teacher_id]['goals'] %}

              <span class="badge badge-secondary mr-2"> {{ all_data[0][key] }} </span>
                {% endfor %}
                </p>
                <p>Рейтинг: {{ all_data[1][teacher_id]['rating'] }} Ставка: {{ all_data[1][teacher_id]['price'] }} / час</p>
              <p>{{ all_data[1][teacher_id]['about'] }}</p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>

              {% for day in all_data[1][teacher_id]['free'] %}

              {% if day == 'mon'%}<p class="my-1">Понедельник, {{ time }}</p>
            {% elif day == 'tue'%}<p class="my-1">Вторник, {{ time }}</p>
            {% elif day == 'wed'%}<p class="my-1">Среда, {{ time }}</p>
            {% elif day == 'thu'%}<p class="my-1">Четверг, {{ time }}</p>
            {% elif day == 'fri'%}<p class="my-1">Пятница, {{ time }}</p>
            {% elif day == 'sat'%}<p class="my-1">Суббота, {{ time }}</p>
            {% elif day == 'sun'%}<p class="my-1">Воскресенье, {{ time }}</p>
            {% endif %}

              {% set ns = namespace (all_false = true) %}
              {% for key in all_data[1][teacher_id]['free'][day] %}

                  {% if all_data[1][teacher_id]['free'][day][key] %}
<a href="{{ url_for('render_booking', teacher_id=teacher_id|int, day=day, time=key)  }}" class="btn btn-outline-success  mr-2">{{ key }} свободно</a>                      {% set ns.all_false = false %}
                  {% endif %}

              {% endfor %}
              {% if ns.all_false %}
                  <p>Нет свободных мест</p>
              {% endif %}
              {% endfor %}

            </section>

          </div>
        </article>
      </div>

    </div>
  </main>
{% endblock %}